node_modules/
dist/
vueapp/
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.gz

yarn.lock
package-lock.json
pnpm-lock.yaml
.tmp
.project
src/common/router/index.ts
.eslintcache
